<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary mr-2" (click)="createNewEmployee()">
      <span class="glyphicon glyphicon-remove"></span>Crear Empleado
    </button>
  </div>
</div>

<div class="container">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Num Ident</th>
      <th>Nombre</th>
      <th>Código empleado</th>
      <th>Tipo</th>
    </tr>
    <tr *ngFor="let item of employees">
      <td>{{item.identity}}</td>
      <td>{{item.name}}</td>
      <td>{{item.employeeCode}}</td>
      <td>{{item.type}}</td>
    </tr>
  </table>
</div>
