<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 login-sec px-4 pt-5">
      <form class="form" (ngSubmit)="onSubmit()">
        <div class="row no-gutters px-lg-1">
          <hr class="col-12">

          <h5 class="col-12 mt-3">Empleado: </h5>

          <input type="text" class="form-control px-3 col-lg-6 mt-2 mr-3"
                 placeholder="Nombre" name="nombre" autocomplete="on"
                 formControlName="nombre">
          <input type="text" class="form-control px-3 col-lg-6 mt-2"
                 placeholder="Número de Identificación" name="numeroIdent" autocomplete="on"
                 formControlName="numeroIdent">
          <input type="text" class="form-control px-3 col-lg-6 mt-2 mr-3"
                 placeholder="Código de empleado" name="codigo" autocomplete="on"
                 formControlName="codigo">
        </div>
        <div class="d-block w-100 text-center mt-3 mb-3">
          <button type="submit" (click)="crearEmpleado()" class="btn btn-login w-100 pt-2 pb-2">Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--<form class="my-form">-->
<!--  <div class="container">-->
<!--    <h1>Crear empleado</h1>-->
<!--    <ul>-->
<!--      &lt;!&ndash;      <li>&ndash;&gt;-->
<!--      &lt;!&ndash;        <div class="grid grid-2">&ndash;&gt;-->
<!--      <input type="text" class="form-control px-3 col-lg-6"-->
<!--             placeholder="Nombre" name="nombre" autocomplete="on"-->
<!--             formControlName="nombre">-->
<!--      <input type="text" class="form-control px-3 col-lg-6"-->
<!--             placeholder="Número de Identificación" name="numIdent" autocomplete="on"-->
<!--             formControlName="numIdent">-->
<!--      &lt;!&ndash;        </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      </li>&ndash;&gt;-->
<!--      <li>-->
<!--        <div class="grid grid-2">-->
<!--          <input type="email" placeholder="Código" required>-->
<!--          <input type="tel" placeholder="Tipo vendedor">-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</form>-->
