* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.wrap-login100 {
  width: 860px;
  min-height: 100vh;
  background: #fff;
  border-radius: 2px;
  position: relative;
}

/*------------------------------------------------------------------
[ Login100 more ]*/
.login100-more {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(100% - 460px);
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .banner-text {
    display: none;
  }
}

.banner-text {
  /* width: calc(100% - 80px); */
  position: absolute;
  bottom: 40px;
  left: 40px;
  text-align: left;
  padding: 10px;
}

.banner-text h2 {
  color: #fff;
  font-weight: 600;
}

/* .banner-text h2:after {
  content: " ";
  width: 320px;
  height: 1px;
  background: rgba(255,255,255,0.4);
  display: block;
  margin-top: 10px;
  border-radius: 3px;
} */

.banner-text p {
  color: #fff;
}


/*==================================================================
[ Form ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login100-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
}



/*------------------------------------------------------------------
[ Input ]*/


.login-sec h2 {
  font-weight: 600;
  font-size: 1.6em;
  color: var(--main-secondary-color);
}

.login-sec h2:after {
  content: " ";
  width: 150px;
  height: 1px;
  background: var(--main-primary-color);
  display: block;
  margin-top: 5px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.login-sec h6{
  margin-top: 5pt;
  margin-bottom: 20pt;
  font-weight: 500;
  color: var(--main-primary-color);
}

.login-sec input{
  height: 40pt;
  font-size: 1.2em;
}


.btn-login {
  background: var(--main-primary-color);
  color: #fff;
  font-weight: 600;
}


.form-group{
  position: relative;
}

.btn-show-password{
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: gray;
}

.text-soporte {
  font-weight: 500;
}

.text-color-background {
  background-color: rgba(19, 106, 169, .8);
}

.text-contacto {
  display: block;
}

.text-contacto-inline {
  display: inline-block;
}

.separator {
  vertical-align: middle;
  border-left: 1px solid gray;
}



